<a href="https://colab.research.google.com/github/nisunze/rubavu_rock_excavation/blob/main/site_report_generator_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import needed libraries
from pathlib import Path
import pandas as pd
import numpy as np
 
from datetime import date
today = date.today().strftime("%d/%m/%Y")
 
#directories: input and output
input_workbook = Path(r'/content/drive/MyDrive/Pro/ArtSEC/Rock Excavation in Rubavu/site_operations.xlsx')
output_workbook = input_workbook.parent/'site_report.xlsx'
 
# analyzing dataframes data
def make_str_python_val(x):
    return x.lower().replace('.','_').replace(' ', '_')
 
def title_string(x):
    return x.replace('_', ' ').title()
 
def df_cols_title(df):
    '''
    Tile df columns for reporting
    '''
    df.columns = [title_string(l) for l in df.columns.to_list()]
    return df
 
def parse_df_header(df):
    '''
    Parse DataFrame column names into a pythonic format
    Takes a dataframe, and returns a dataframe with formatted headers
    '''
    df.columns = [make_str_python_val(l) for l in df.columns.to_list()]
    return df
 
def dfs_from_xls(input_workbook):
    '''
    Generate dataframes from excel sheets
    '''
    xls = pd.ExcelFile(input_workbook)
    sheet_names = xls.sheet_names
    print(sheet_names)
    xls_df = []
    for sheet_name in sheet_names:
        df = xls.parse(sheet_name=sheet_name)
        xls_df.append(df)
    #print(sheet_names)
    for df in xls_df:
        parse_df_header(df)
    return xls_df #list of dataframes
 
def machine_staats(equipment_log, equipment_db):
    #merge equipment log and equipment database dfs
    df = pd.merge(equipment_log, equipment_db, on='plate') 
    df.sort_values(by='date', inplace=True)
    df['hm_rate_per_minutes'] = df.hummer_price_per_hour / 60
    df['bkt_rate_per_minutes'] = df.bucket_price_per_hour / 60
    df['price_per_hour'] = df['bucket_price_per_hour'].where(df['tool']=='Bucket', df['hummer_price_per_hour'] )
    # df['rate_per_minutes'].round(decimals=2)
    df['machine_wage'] = (df.bkt_rate_per_minutes * df.minutes).where(df.tool=='hummer', (df.hm_rate_per_minutes * df.minutes))
    df['machine_wage'] = df['machine_wage'].round()
    return df
 
def produce_machine_report(machine_staats_df):
    df = machine_staats_df[['date', 'company', 'brand', 'plate', 'driver_name','tool',
             'fuel', 'minutes', 'machine_wage', 'price_per_hour']]
    df = pd.pivot_table(df, aggfunc=np.sum, index=['company', 'brand', 
                                                   'plate', 'driver_name','tool',
                                                   'price_per_hour'])
    #estimate hours and minutes
    df['hours'] = df.minutes // 60
    df['minute'] = df.minutes % 60
    df['average_fuel'] = df.fuel / df.hours
    df2 = df.drop(columns=['minutes'])
 
    #rearrange columns to make sense
    df2 = df2[['hours', 'minute', 'fuel', 'average_fuel', 'machine_wage']]
 
    #df.loc['Total'] = df.sum()
    return df2
 
def calculate_fuel(equipment_log, fuel):
    used_fuel = equipment_log.fuel.sum()
    supplied_fuel = fuel_supply.quantities.sum()
    remaining_fuel = supplied_fuel - used_fuel
 
    fuel = {'Supplied Fuel': supplied_fuel, 'Used Fuel': used_fuel,  'Fuel in Store':remaining_fuel}
 
    series = pd.Series(fuel)
    series.name = 'Fuel'
    df = series.to_frame()
    return df
 
def calculate_payroll(workers_april, workers_list):
    presence = workers_april.sum()
    presence.name = 'april_days'
    presence = presence.to_frame()
 
    workers_list['last_first_name'] = workers_list.last_name.apply(make_str_python_val) +\
                            '_'  + workers_list.first_name.apply(make_str_python_val)
    workers_list.set_index('last_first_name', inplace=True)
    salary_count = pd.merge(presence, workers_list, left_index=True, right_index=True)
    salary_count['pay'] = salary_count.april_days * salary_count.salary
    salary_count = salary_count[['last_name', 'first_name', 'role', 'april_days', 'salary', 'pay']]
    return salary_count

In [ ]:
#unpack sheets from excel
equipment_db, equipment_log, fuel_supply, workers_list, fuel_consumption, workers_april = dfs_from_xls(input_workbook)
sheets_from_xls = [equipment_db, equipment_log, fuel_supply, workers_list, fuel_consumption, workers_april]

#calculate dataframes
machine_report = produce_machine_report(machine_staats(equipment_log, equipment_db))
fuel = calculate_fuel(equipment_log, fuel_supply)
payroll = calculate_payroll(workers_april, workers_list)

#dataframes
df_list = [machine_report, fuel, payroll]
df_names = ['machine_report', 'fuel', 'payroll']

df_to_xls = dict(zip(df_names, df_list))

['equipment_db', 'equipment_log', 'fuel_supply', 'workers_list', 'fuel_consumption', 'workers_april']

In [ ]:
#display dataframes
from IPython.display import display
for df in df_list:
    display(df)

                                                                              hours  ...  machine_wage
company        brand       plate   driver_name        tool    price_per_hour         ...
ArtSEC         HOWO        RAD883B UWAMAHORO Joseph   Dumping 0                   0  ...           0.0
                           RAD884B MUNYANEZA Alphonse Dumping 0                   0  ...           0.0
BIB            Caterpillar RAC820Y Mapenzi            Bucket  50000               1  ...      120000.0
                                                      Hammer  100000             22  ...     2291667.0
CHIRWA Company JCB         RAD419P Yves               Hammer  100000             42  ...     4236667.0
               SUNNY       RAE003N Didier             Hammer  100000             27  ...     2776666.0
ECOGL          CMG         RAE826B AIME               Bucket  50000              33  ...     3699667.0
                                                      Hammer  110000             81  ...     8932000.0

[8 rows x 5 columns]

                 Fuel
Supplied Fuel  5400.0
Used Fuel      4091.8
Fuel in Store  1308.2

                                  last_name    first_name  ...  salary      pay
ufitimana_epaphrodite             UFITIMANA   Epaphrodite  ...  5000.0  95000.0
uwiringiyimana_jean_de_dieu  UWIRINGIYIMANA  Jean De Dieu  ...  2000.0  36000.0
twagiramungu_vedaste           TWAGIRAMUNGU       Vedaste  ...  2000.0  36000.0

[3 rows x 6 columns]

In [ ]:
##send DataFrames to Excel
##And Style their cells
import openpyxl
from openpyxl.formatting.rule import ColorScaleRule
from openpyxl.styles import Alignment, Font, NamedStyle
from openpyxl.styles import Side, Border, numbers, PatternFill
from openpyxl.utils import get_column_letter, column_index_from_string
from openpyxl.worksheet.properties import WorksheetProperties, PageSetupProperties
from openpyxl.worksheet.cell_range import CellRange
 
#named styles
title_font_size = 14
top_row_font_size = 12
text_size = 11
 
 
##header style
title_style = NamedStyle(name="title_style")
title_style.font = Font(bold=True, size=title_font_size)
bd = Side(style='thin', color="000000")
title_style.border = Border(left=bd, top=bd, right=bd, bottom=bd)
title_style.alignment = Alignment(horizontal="left", vertical="center")
title_style.fill = PatternFill("solid", fgColor="EAFAF1")
 
##top style
top_row = NamedStyle(name="top_row")
top_row.font = Font(bold=True, size=top_row_font_size)
bd = Side(style='thin', color="000000")
top_row.border = Border(left=bd, top=bd, right=bd, bottom=bd)
top_row.alignment = Alignment(horizontal="center", vertical="center")
top_row.fill = PatternFill("solid", fgColor="D6EAF8")
 
##text style
text_style = NamedStyle(name="text_style")
text_style.font = Font(bold=False, size=text_size)
bd = Side(style='thin', color="000000")
text_style.border = Border(left=bd, top=bd, right=bd, bottom=bd)
text_style.alignment = Alignment(horizontal="left", vertical="center")
 
##number styles
numbers_style = NamedStyle(name="numbers_style")
numbers_style.font = Font(bold=False, size=text_size)
bd = Side(style='thin', color="000000")
numbers_style.border = Border(left=bd, top=bd, right=bd, bottom=bd)
numbers_style.alignment = Alignment(horizontal="right", vertical="center")
 
##SUM styles
sum_style = NamedStyle(name="sum_style")
sum_style.font = Font(bold=True, size=text_size, italic=True)
bd = Side(style='thin', color="000000")
sum_style.border = Border(left=bd, top=bd, right=bd, bottom=bd)
sum_style.alignment = Alignment(horizontal="right", vertical="center")
sum_style.fill = PatternFill("solid", fgColor="D6EAF8")
 
 
def insert_header(ws):
    merged_cells_range = ws.merged_cells.ranges
    for merged_cell in merged_cells_range:
        merged_cell.shift(0, 1)
    ws.insert_rows(1, 1)
    return ws
 
#size columns width
def as_text(value):
    if value is None:
        return ""
    return str(value)
 
def size_cols(ws):
    for column_cells in ws.columns:
        length = max(len(as_text(cell.value)) for cell in column_cells)
        ws.column_dimensions[column_cells[0].column].width = length + 3

def style_range(ws, range, style, top_row=False, numbers_style=False):
    for row in ws.iter_rows(min_row=range[0],
                            max_row=range[1],
                            min_col=range[2],
                            max_col=range[3]):
        for cell in row:
            if top_row and cell.value:
                cell.value = title_string(cell.value)
                cell.style = style
            elif numbers_style:
                cell.style = style
                cell.number_format = numbers.FORMAT_NUMBER_COMMA_SEPARATED1
            else:
                cell.style = style

def style_ws(ws, title_text, text_range, number_range, siba=False):
 
    #style machine report
    if siba:
        ws.delete_cols(1,1)
    insert_header(ws)
    #printing settings
    ws.page_setup.orientation = ws.ORIENTATION_LANDSCAPE
    ws.page_setup.paperSize = ws.PAPERSIZE_A4 
    # Property settings
    wsprops = ws.sheet_properties
    wsprops.tabColor = "1072BA"
    wsprops.filterMode = False
    wsprops.pageSetUpPr = PageSetupProperties(fitToPage=True, autoPageBreaks=False)
    wsprops.outlinePr.summaryBelow = False
    wsprops.outlinePr.applyStyles = True
 
    ##title
    title = ws['A1']
    title.value = title_text
    ws.merge_cells(start_column=ws.min_column,
                    end_column=ws.max_column,
                    start_row=ws.min_row,
                    end_row=ws.min_row)
    title.style = title_style
    
    ##top row
    style_range(ws=ws, range=[2, 2, 1, ws.max_column], top_row=True)
    
    ##text
    style_range(ws=ws, range=text_range, style=text_style)
    #numeric
    style_range(ws=ws, range=number_range, style=numbers_style)

    #At last, size columns to fit
    size_cols(ws)

In [ ]:

#write parsed reports to excel sheets
#and style sheets with openpyxl
with pd.ExcelWriter(output_workbook, engine='openpyxl') as writer:
    for sheet_name, df in df_to_xls.items():
        df.to_excel(writer, sheet_name=sheet_name)
    
    #Worksheets
    ws1 = writer.sheets['machine_report']
    ws2 = writer.sheets['fuel']
    ws3 = writer.sheets['payroll']
    
    #sheets titles
    ws1_title = f"""
    ArtSEC
    Sewer Construction in Rubavu
    Summary of Machine Hours and Fuel
    {str(today)}
    """
    
    ws2_title = f"""
        ArtSEC
        Sewer Construction
        Site Fuel Summary
        {str(today)}
        """
    ws3_title = f"""
        ArtSEC
        Sewer Construction in Rubavu
        Summary of Payroll
        {str(today)}
        """
    #Style Sheets 
    style_ws(ws=ws1,
             title_text=ws1_title,
             text_range=[3, ws1.max_row, 1, 5],
             number_range=[3, ws1.max_row, 6, ws1.max_column])
   
    style_ws(ws2,
             top_row_range='A2:B2',
             text_range='A2:A5',
             number_range='B3:B5')
    
    style_ws(sheet_name='payroll',
             ws_title=ws3_title,
             top_row_range='A2:F2',
             text_range='A3:C5',
             number_range='D3:F5',
             siba=True)
    
    
    #payroll sums
    ws3_sum_num_cell = ws3.cell(ws3.max_row+1, ws3.max_column)
    ws3_sum_num_cell.value = '=SUM(F3:F5)'
    for row in ws3['D6:F6']:
        for cell in row:
            cell.style = sum_style
    
    ws3_sum_text_cell = ws3.cell(ws3.max_row, ws3.min_column)
    ws3_sum_text_cell.value = 'TOTAL'
    ws3_sum_text_cell.style = sum_style
    ws3.merge_cells(start_column=1,
                    end_column=3,
                    start_row=ws3.max_row,
                    end_row=ws3.max_row)
     
    #machine report sums : fuel and wage
    ws1_sum_machine_wage_cell = ws1.cell(ws1.max_row-1, ws1.max_column)
    ws1_sum_machine_wage_cell.value = '=SUM(K3:K10)'

    ws1_sum_fuel_cell = ws1.cell(ws1.max_row-1, ws1.max_column-2)
    ws1_sum_fuel_cell.value = '=SUM(I3:I10)'


    ws1_sum_text_cell = ws1.cell(ws1.max_row-1, ws1.min_column)    
    ws1_sum_text_cell.value = 'Total Machine hours and renting cost'
    ws1.merge_cells(start_column=1,
                    end_column=5,
                    start_row=ws1.max_row-1,
                    end_row=ws1.max_row-1)
   
    for row in ws1['A11:K11']:
        for cell in row:
            cell.style = sum_style

    #total cost analysis
    total_cost_num_cell =  ws1.cell(ws1.max_row, ws1.max_column)    
    total_cost_num_cell.value = ws1.cell(ws1.max_row-1, ws1.max_column).value + '+fuel!B3*1000'
    total_cost_num_cell.style = sum_style

    total_cost_text_cell =  ws1.cell(ws1.max_row, ws1.min_column)
    total_cost_text_cell.value = 'Machine renting and fuel cost:'
    total_cost_text_cell.style = sum_style
    ws1.merge_cells(start_column=1,
                    end_column=ws1.max_column-1,
                    start_row=ws1.max_row,
                    end_row=ws1.max_row)

TypeError: ignored